/*Navigation Bar Styles */
* {
    margin: 0;
    padding: 0;
}

img {
    width: 4%;
}

.youtube-icon {
    width: 20%;
}

.search-icon {
    width: 20%
}

input {
    height: 25px;
}

.nav-grid {
    display: grid;
    grid-template-rows: 1fr 2fr 3fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}